@model TbItem

    <div class="col-xl-3 col-6 col-grid-box">
        <div class="product-box">
            <div class="img-wrapper">
                <div class="front">
                    <a asp-controller="Home" asp-action="ItemDetails" asp-route-Id="@Model.ItemId"><img src="@string.Format("/Uploads/{0}" , Model.ImageName)" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                </div>
                <div class="back">
                    <a asp-controller="Home" asp-action="ItemDetails" asp-route-Id="@Model.ItemId"><img src="@string.Format("/Uploads/{0}" , Model.ImageName)" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                </div>
                <div class="cart-info cart-wrap">
                    <button data-toggle="modal" data-target="#addtocart" title="Add to cart">
                        <i class="ti-shopping-cart"></i>
                    </button>
                    <a href="javascript:void(0)" title="Add to Wishlist">
                        <i class="ti-heart" aria-hidden="true"></i>
                    </a> 
                </div>
            </div>
            <div class="product-detail">
                <div>
                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                    <a asp-controller="Home" asp-action="ItemDetails" asp-route-Id="@Model.ItemId">
                        <h6>@Model.ItemName</h6>
                    </a>
                    <p>
                       @Model.Notes
                    </p>
                    <h4>$@Model.SalesPrice</h4>
                </div>
            </div>
        </div>
    </div>